.mainboxarea {
    margin-top: 100px;
    width: 600px;
    height: 3000px;
    background-color: gray;
}

.mainspan { 
    display: inline-block;
    background-color: rgba(51, 102, 255, .2);
    
    width: 70%;
    height:20%;
}


.relpos {
    position: relative;
    top: 50px;
    left: 50px;
}

.abspos {
    position: absolute;
    top: 50px;
    left: 50px;
}

.fixedpos {
    position: fixed;
    top: 50px;
    left: 50px;
}

body {
    font-size: 30px;
}

.hide {
    display: none;
}


#box-model-example {
    background-color: darkgreen;
    border: 2px solid black;
    height: 500px;
    width: 500px;
}

#text-box {
    background-color: darkseagreen;
    /* margin: 10px 10px 10px 10px; */
}

#other-box {
    background-color:aquamarine;  
}

#original {
    /* display: block; */
}

#other {
    /* font-size: 3rem; */
    /* font-size: 3em; */
}

#unitexample {
    font-size: 40px;
}

